In [5]:
import pandas as pd

import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [8]:
final = pd.read_excel(r"C:\Users\filip\OneDrive\Desktop\IRONHACK\BlackFridayProject\Final_bfproject.xlsx")

In [9]:
# Standardizing column names

cols = []
for i in range(len(final.columns)): 
    cols.append(final.columns[i].lower().replace(' ', '_')) 
final.columns = cols

# Here you can find this code as a function

'''
def standard_column_names(df):
    cols = [col.lower().replace(' ', '_') for col in df.columns]
    df.columns = cols
    
    standard_column_names(final)
    
    '''

In [11]:
final.dtypes

store                           object
unit                            object
order_nr.                        int64
date                            object
status                          object
total_price                    float64
currency                        object
applied_coupon_codes            object
acc_creation_time       datetime64[ns]
b2bunit                        float64
payment_method                  object
payment_term                    object
town                            object
country                         object
dtype: object

In [12]:
#Converting dates to date time

final['date'] = pd.to_datetime(final['date'])

# Here you can find this code as a function

'''
def convert_to_datetime(df, date_column='date'):
    if date_column in df.columns:
        df[date_column] = pd.to_datetime(df[date_column])

convert_to_datetime(final)
'''

In [14]:
# Checking for null values
final.isna().sum()

# I will not drop the null because acc_creation_time, b2bunit, payment_method, payment_term and town are all customer related and will be looking more into the orders.
# applied_coupon_codes has a lot of null because it depends on promotion availability and customer adoption.

store                       0
unit                        0
order_nr.                   0
date                        0
status                      0
total_price                 1
currency                    1
applied_coupon_codes    23705
acc_creation_time        1000
b2bunit                  1000
payment_method           1000
payment_term             1140
town                     1000
country                     0
dtype: int64

In [19]:
# Checking for duplicates
final.duplicated().sum()

# Will drop duplicates
final.drop_duplicates()

,store,unit,order_nr.,date,status,total_price,currency,applied_coupon_codes,acc_creation_time,b2bunit,payment_method,payment_term,town,country
0,IE,10432017,994765,2021-11-02 09:45:47+00:00,DISPATCHED,650.07,EUR [EUR],NaN,2021-05-24,10432017.0,Doesn't exist - Error,30 Days Payable,"STRANORLAR, CO. DONEGAL",Ireland
1,IE,10432017,994765,2021-11-02 09:45:47+00:00,DISPATCHED,650.07,EUR [EUR],NaN,2021-07-22,10432017.0,Doesn't exist - Error,30 Days Payable,"STRANORLAR, CO. DONEGAL",Ireland
2,IE,10229446,994797,2021-11-02 09:55:03+00:00,DISPATCHED,795.37,EUR [EUR],NaN,2021-07-22,10229446.0,G,30 Days Payable,GALWAY,Ireland
3,IE,10262981,995055,2021-11-02 11:33:59+00:00,IN_PROGRESS,1535.42,EUR [EUR],NaN,2021-07-22,10262981.0,G,NaN,"ENNIS, COUNTY CLARE",Ireland
4,IE,10229552,995426,2021-11-02 14:23:58+00:00,DISPATCHED,343.69,EUR [EUR],NaN,2021-07-22,10229552.0,Doesn't exist - Error,60 days Payable,DUBLIN 2,Ireland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27993,DE,10394646,3862003,2023-11-30 22:26:43+00:00,DISPATCHED,260.04,EUR [EUR],NaN,2022-08-25,10394646.0,Direct Debit,5D 3% Discount,OBER-RAMSTADT,Germany
27994,DE,10350862,3862005,2023-11-30 22:27:09+00:00,IN_PROGRESS,655.51,EUR [EUR],NaN,2021-05-17,10350862.0,Direct Debit,5D 3% Discount,DREIEICH,Germany
27995,DE,10187364,3862017,2023-11-30 22:30:58+00:00,DISPATCHED,361.92,EUR [EUR],NaN,2021-02-26,10187364.0,Direct Debit,5D 3% Discount,BIEBESHEIM,Germany
27996,DE,10268024,3862061,2023-11-30 22:45:51+00:00,DISPATCHED,924.99,EUR [EUR],NaN,2021-05-11,10268024.0,Direct Debit,30 Days Payable,DARMSTADT,Germany
27997,DE,10222878,3845718,2023-11-28 09:16:01+00:00,DISPATCHED,966.61,EUR [EUR],NaN,2021-11-24,10222878.0,Direct Debit,5D 3% Discount,ANDERNACH,Germany

In [21]:
#Saving the dataframe

final.to_csv('Final_bf.csv')